.btn{
    min-width: 104px;
    border-radius: 4px;
    border: none;
    padding: 12px 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    width: 5.5rem;

    

}

.btn--primary {
    fill: hsl(var(--hue-3), 20%, 90%);
   
    box-shadow: 0 0 0 2pt ;

}